<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>428255334250-vv4it0o8327j7balhsk8scfalv4ru09k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.428255334250-vv4it0o8327j7balhsk8scfalv4ru09k</string>
	<key>API_KEY</key>
	<string>AIzaSyDVaRvSwxaKEur3pruiD8iwjlaUKZlO52c</string>
	<key>GCM_SENDER_ID</key>
	<string>428255334250</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tanmayj.livestream</string>
	<key>PROJECT_ID</key>
	<string>livestrm-606e2</string>
	<key>STORAGE_BUCKET</key>
	<string>livestrm-606e2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:428255334250:ios:42f7e6f55e23c2b33a5f13</string>
</dict>
</plist>